#content > div {
	height: 100%;
}

#app-navigation {
	height: 100%;
	position: relative;
}

#app-navigation > ul {
	height: auto;
}

.navigation a > span {
	display: inline-block;
	vertical-align: text-bottom;
	margin-right: 12px;
}

#app-navigation h3 {
	padding-top: .7cm;
	padding-left: 12px;
	border-top: 1px solid #ededed;
}

#app-content {
	transition: transform .5s ease;
	transform: none;
}

.mobile-nav {
	padding: .3cm;
	display: none;
}

.mobile-nav .toggle-menu {
	display: inline-block;
}

@media only screen and (max-width: 768px) {

	.mobile-nav-open #app-content {
		transform: translate(250px, 0);
	}

	.mobile-nav {
		display: block;
	}

}

.add-bookmark input {
	margin: 0;
	width: 100%;
	padding: 12px 40px 12px 12px;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #eee;
	border-radius: 0;
}

.add-bookmark button {
	position: absolute;
	right: 0;
	top: 0;
	min-height: 34px;
	padding: 10px 20px;
	background-color: transparent;
	border: none;
	opacity: .5;
	font-weight: bold;
}

.bulk-actions {
	display: none;
	position: fixed;
	top: 45px;
	left: 250px;
	right: 0;
	box-shadow: 2px 1px 4px 0px #666;
    padding: .3cm .5cm;
	background: white;
	z-index: 3;
}

.bulk-actions + * {
	transition: margin-top .5s ease;
}

.bulk-actions.active {
	display: block;
}

.bulk-actions.active + * {
	margin-top: 2.5cm;
}

@media only screen and (max-width: 768px) {

	.bulk-actions {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.bulk-actions.active + * {
		margin-top: 0 !important;
	}
}

.bulk-actions > button {
	vertical-align: top;
}

.bulk-actions .tags {
	display: inline-block;
	width: 60%;
	margin: 3px 3px 3px 0;
	position: relative;
}

.bulk-actions .tags-selection {
	display: block;
	width: 100%;
}

.bulk-actions .selection-tools {
	float: right;
}

.bulk-actions .selection-tools .close {
	display: inline-block;
	cursor: pointer;
	margin: 3px 3px 3px 0;
	padding: 6px 12px;
	width: auto;
	min-height: 34px;
	cursor: pointer;
	box-sizing: border-box;
}

.bulk-actions .selection-tools .close span {
	display: inline-block;
	vertical-align: text-top;
}

button span,
.bulk-actions .selection-tools .close span {
	cursor: pointer;
}

@media only screen and (max-width: 925px) {
    .bulk-actions .tags {
        width: 80%;
    }
    .bulk-actions .selection-tools {
        float: none;
        text-align: right;
        margin-bottom: .5cm;
    }
	.bulk-actions.active + * {
		margin-top: 3.5cm;
	}
}

.bookmarks-empty {
	width: 5cm;
	margin: 20% auto;
}

.bookmarks {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding-right: .6cm;
}

.bookmark-card {
	position: relative;
	box-sizing: border-box; /*necessary for hover effect goodness to work*/
	flex-grow: 1;
	width: 6cm;
	height: 6cm;
	margin: .6cm 0 0 .6cm;
	padding: .5cm;
	border: 1px solid #ddd;
	overflow: hidden;
	background-color: rgb(210, 210, 210);
	background-size: cover;
	background-position: center;
	transition: background-color .3s ease;
	background-blend-mode: overlay;
}

.bookmark-card,
.bookmark-card * {
	cursor: pointer;
}

.bookmark-card:hover {
	background-color: rgb(180, 180, 180);
}

.bookmark-card.active,
.bookmark-card.active:hover {
	transform: none;
	border: 1px solid #0082c9;
	box-shadow: inset 0 0 10px #0082c9;
}

.bookmark-card .panel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: .5cm .5cm .1cm .6cm;
	background: rgba(255, 255, 255, .8);
	box-shadow: #aaa 0 0 5px;
}

.bookmark-card:hover .panel {
	background: rgba(255, 255, 255, .90);
}

.bookmark-card .selectbox {
	position: absolute;
	left: .1cm;
	top: .5cm;
}

.bookmark-card h1 {
	font-size: .5cm;
	padding-right: .5cm;
}

.bookmark-card h2 {
	margin-top: .1cm;
	font-size: .4cm;
	opacity: .4;
}

.bookmark-card h2 :link span {
	display: inline-block;
	vertical-align: text-bottom;
	margin-right: 3px;
}

.bookmark-card h2 :link:hover {
	text-decoration: underline;
}

.bookmark-card .tags {
	max-height: 2.5cm;
	overflow: hidden;
	position: absolute;
	bottom: .5cm;
}

.bookmark-card .tag-nav-item {
	border-radius: .2cm;
	background: #ebebeb;
	display: inline-block;
	padding: 0 .2cm;
	margin: .1cm;
}

.bookmark-card .tag-nav-item:hover {
	background: #e0e0e0;
}

.bookmark-detail {
	position: fixed;
	top: 45px;
	right: 0;
	z-index: 2;
	width: 500px;
	height: 100%;
	box-sizing: border-box;
	padding: 1cm;
	background: white;
	border-left: 1px solid #ebebeb;
    color: #333;
}

@media only screen and (max-width: 768px) {

	.bookmark-detail {
		width: auto;
		left: 0;
	}

}

.bookmark-detail h1 {
	font-size: .7cm;
	line-height: 1.3;
	padding-right: 2.3cm;
    cursor: text;
}

.bookmark-detail h2 {
	margin-top: .3cm;
	opacity: .4;
}
.bookmark-detail h2 .edit {
    float: right;
}
.bookmark-detail h3 {
	margin-top: 1cm;
	margin-bottom: .3cm;
    border-bottom: 1px solid #ebebeb;
}

.bookmark-detail h2 :link:hover {
	text-decoration: underline;
}

.bookmark-detail h2 :link span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
}

.bookmark-detail > .close {
	position: absolute;
	top: .1cm;
	right: .1cm;
	width: 1cm;
	height: 1cm;
	cursor: pointer;
}

.bookmark-detail .status {
	position: absolute;
	top: .4cm;
	left: 1cm;
	font-size: .4cm;
	opacity: .4;
}
.bookmark-detail .status [class^="icon-"] {
	display: inline-block;
}
.bookmark-detail .status .message {
	display: none;
}
.bookmark-detail .status.saving .message.message-saving {
	display: inline;
	position: relative;
	left: .2cm;
}
.bookmark-detail .status.saved .message.message-saved {
	display: inline;
	animation: fadeout ease 5s both 1;
}
@keyframes fadeout {
	0% {
		opacity: 1;
		display: inline;
	}
	99% {
		opacity: 0;
		display: inline;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

.bookmark-detail .actions {
	position: absolute;
	right: 1cm;
}

.bookmark-detail .actions button {
	height: 1cm;
	width: 1cm;
}

.bookmark-detail .select2-container--default .select2-selection--multiple .select2-selection__choice,
.bulk-actions .select2-container--default .select2-selection--multiple .select2-selection__choice,
.bookmark-detail .tag-nav-item {
	border-radius: .2cm;
	border: none;
	background: #ebebeb;
	display: inline-block;
	padding: .1cm .2cm;
	margin: .1cm;
}

.bookmark-detail .select2-container--default .select2-selection--multiple .select2-selection__choice:hover,
.bulk-actions .select2-container--default .select2-selection--multiple .select2-selection__choice:hover,
.bookmark-detail .tag-nav-item:hover {
	background: #e0e0e0;
}

.bookmark-detail .description {
	margin-top: .5cm;
	font-size: .4cm;
	/*for editing*/
	width: auto;
	min-height: 300px;
	cursor: text;
}

.bookmark-detail .description.empty {
	opacity: .4;
}

.tags-management {
	height: 80% !important;
	height: calc(100% - 80px - 100px) !important;
}

@media only screen and (max-width: 768px) {

	.tags-management {
		width: auto;
		float: none;
		border-bottom: 2px solid #bbb;
	}

}

.tags-management .tag-man-item {
	cursor: pointer;
}

.tags-management .tag-man-item.active {
	background: #f3f3f3;
}

.tags-management .tag-man-item > a {
	padding-left: .2cm;
}

.tags-management .tag-man-item .actions {
	float: right;
}

.tags-management .tag-man-item .actions ul {
	display: block !important;
}

.tags-management .tag-man-item .actions .action {
	display: inline-block;
	width: auto !important;
}

.tags-management .tag-man-item .action button {
	border: none;
	background-color: transparent;
	opacity: .45;
	padding: 3px 12px;
}

.tags-management .tag-man-item .action button:hover {
	opacity: 1;
}

.tags-management .tag-man-item input[type="text"] {
	min-height: .7cm;
	padding: 0 .1cm;
	margin: 0;
	width: 70%;
}

/* make checkbox look like an icon */

.menu-item-checkbox span:first-child {
  padding: 5px 5px;
}

/* display 'remove from filter' when selected, and 'add to ...' when unselected*/

.tags-management .tag-man-item.active .menu-filter-add {
	display: none;
}

.tags-management .tag-man-item .menu-filter-remove {
	display: none;
}

.tags-management .tag-man-item.active .menu-filter-remove {
	display: block;
}

.settings .import-form {
	display: inline-block;
}

.settings .import {
	display: none;
}

.settings .upload {
	display: none;
}
