#content > div {
  height: 100%;
}
#app-navigation {
  height: 100%;
  position: relative;
}
#app-navigation > ul {
  height: auto;
}
.navigation a > span {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 12px;
}
#app-navigation h3 {
	padding-top: .7cm;
	padding-left: 0.1cm;
	border-top: 1px solid #ededed;
}

#app-content {
  transition: transform .5s ease;
  transform: none;
}
.mobile-nav {
  padding: .3cm;
  display: none;
}
.mobile-nav .toggle-menu {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .mobile-nav-open #app-content {
    transform: translate(250px, 0);
  }
  .mobile-nav {
    display: block;
  }
}

.add-bookmark {
  border-bottom: 1px solid #ebebeb;
}
.add-bookmark input {
	margin: 0;
	width: 100%;
	padding: 12px 40px 12px 12px;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #eee;
	border-radius: 0;
}
.add-bookmark button {
	position: absolute;
	right: 0;
	top: 0;
  min-height: 34px;
	padding: 10px 20px;
	background-color: transparent;
	border: none;
	opacity: .5;
  font-weight: bold;
}
.add-bookmark li.link a span {
  margin-left: 28px;
}
.add-bookmark li.link a span::before {
	position: absolute;
	left: 12px;
	content: '+';
	font-weight: bold;
	font-size: 28px;
}
.add-bookmark .form {
  display: none;
}

.bulk-actions {
  display: none;
  position: relative;
  border-bottom: 1px solid #ebebeb;
  padding: 5px .5cm;
  background: #e9f7ff;
}
.bulk-actions .selection-tools {
  position: absolute;
  right: .5cm;
  top: 5px;
}
.bulk-actions .close {
  display: inline-block;
  cursor: pointer;
  margin: 3px 3px 3px 0; 
  padding: 6px 12px;
  width: auto;
  min-height: 34px;
  cursor: pointer;
  box-sizing: border-box;
}
.bulk-actions .close span {
  display: inline-block;
  vertical-align: text-top;
}
button span,
.bulk-actions .close span {
  cursor: pointer;
}

.bookmarks-empty {
  width: 5cm;
  margin: 20% auto;
}

.bookmarks {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.bookmark-card {
  position: relative;
  box-sizing: border-box; /*necessary for hover effect goodness to work*/
  flex-grow: 1;
  width: 6cm;
  height: 6cm;
  padding: .5cm;
  border: 1px solid #ebebeb;
  overflow: hidden;
  background: white;
}
.bookmark-card,
.bookmark-card * {
  cursor: pointer;
}
.bookmark-card:hover {
  background: #fcfcfc;
}
.bookmark-card.active,
.bookmark-card.active:hover {
  transform: none;
  border: 1px solid #0082c9;
  box-shadow: inset 0 0 10px #0082c9;
}
.bookmark-card input[type="checkbox"] {
  display: none;
  position: absolute;
  left: .1cm;
  top: .3cm;
  opacity: .7;
  width: .4cm;
}
.bookmark-card:hover input[type="checkbox"],
.bookmark-card.active input[type="checkbox"] {
  display: inline-block;
}
.bookmark-card h1 {
  font-size: .5cm;
  padding-right: .5cm;
}
.bookmark-card h2 {
  margin-top: .1cm;
  font-size: .4cm;
  opacity: .4;
}
.bookmark-card h2 :link span {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 3px;
}
.bookmark-card h2 :link:hover {
  text-decoration: underline;
}
.bookmark-card .actions {
  display: none;
  position: absolute;
  top: .5cm;
  right: .5cm;
}
.bookmark-card:hover .actions,
.bookmark-card.actions-open .actions {
  display: block;
}
.bookmark-card .actions .popovermenu {
  top: 24px;
  right: -14px;
}
.bookmark-card .tags {
  max-height: 2.5cm;
  overflow: hidden;
  position: absolute;
  bottom: .5cm;
}
.bookmark-card .tag-nav-item {
  border-radius: .2cm;
  background: #ebebeb;
  display: inline-block;
  padding: 0 .2cm;
  margin: .1cm;
}
.bookmark-card .tag-nav-item:hover {
  background: #e0e0e0;
}

.bookmark-detail {
	position: absolute;
	top: 0;
  right: 0;
  z-index: 2;
	width: 500px;
	height: 100%;
  box-sizing: border-box;
  padding: 1cm;
	background: white;
  border-left: 1px solid #ebebeb;
}
@media only screen and (max-width: 768px) {
  .bookmark-detail {
    width: auto;
    left: 0;
  }
}
.bookmark-detail h1 {
  font-size: .8cm;
  line-height: 1;
  padding-right: 2.3cm;
}
.bookmark-detail h2 {
  margin-top: .3cm;
  opacity: .4;
}
.bookmark-detail h2 :link:hover {
  text-decoration: underline;
}
.bookmark-detail h2 :link span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.bookmark-detail .close {
  position: absolute;
  top: .1cm;
  right: .1cm;
  width: 1cm;
  height: 1cm;
  cursor: pointer;
}
.bookmark-detail .actions {
  position: absolute;
  right: 1cm;
}
.bookmark-detail .actions button {
  height: 1cm;
  width: 1cm;
}

.bookmark-detail.editing h1 {
  padding-right: 0;
}
.bookmark-detail.editing .actions button {
  height: auto;
  width: auto;
}
.bookmark-detail .input-url,
.bookmark-detail .input-title,
.bookmark-detail .input-desc {
  width: 100%;
  font-size: inherit;
}
.bookmark-detail .input-url {
  padding-left: 25px;
  background-position: 5px;
}
.bookmark-detail .input-desc {
  height: 300px;
}

.settings .import-form {
  display: inline-block;
}
.settings .import {
  display: none;
}
.settings .upload {
  display: none;
}
