#app-navigation h3 {
	padding-top: .7cm;
	padding-left: 0.1cm;
	border-top: 1px solid #ededed;
}


.add-bookmark {
  padding: .1cm;
  border-bottom: 1px solid #ebebeb;
}
.add-bookmark input {
  width: 93%;
  font-size: .6cm;
  border: none;
  width: calc(100% - 1.5cm);
}
.add-bookmark button {
  width: 1cm;
  height: 1cm;
}

.bookmarks-empty {
  width: 5cm;
  margin: 20% auto;
}

.bookmark-card {
  box-sizing: border-box; /*necessary for hover effect goodness to work*/
  width: 6cm;
  height: 6cm;
  float: left;
  padding: .5cm;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  transition: transform .5s;
}
.bookmark-card,
.bookmark-card * {
  cursor: pointer;
}
.bookmark-card:hover {
  position: relative;
  background: white;
  transform: scale(1.05);
  z-index: 1;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}
.bookmark-card h1 {
  font-size: .5cm;
}
.bookmark-card h2 {
  font-size: .4cm;
}
.bookmark-card h2 :link:hover {
  text-decoration: underline;
}

.bookmark-detail {
	position: absolute;
	top: 0;
  z-index: 2;
	width: 100%;
	height: 100%;
  box-sizing: border-box;
  padding: 1cm;
	background: white; 
}
.bookmark-detail h1 {
  font-size: .8cm;
}
.bookmark-detail h2 :link:hover {
  text-decoration: underline;
}
.bookmark-detail .close {
  position: absolute;
  top: .1cm;
  right: .1cm;
  width: 1cm;
  height: 1cm;
  cursor: pointer;
}
.bookmark-detail .actions {
  float: right;
}
.bookmark-detail .actions button {
  height: 1cm;
  width: 1cm;
}
