#app-navigation h3 {
	padding-top: .7cm;
	padding-left: 0.1cm;
	border-top: 1px solid #ededed;
}


.add-bookmark {
  padding: .1cm;
  border-bottom: 1px solid #ebebeb;
}
.add-bookmark input {
  width: 93%;
  font-size: .6cm;
  border: none;
  width: calc(100% - 1.5cm);
}
.add-bookmark button {
  width: 1cm;
  height: 1cm;
}

.bookmarks-empty {
  width: 5cm;
  margin: 20% auto;
}

.bookmark-card {
  width: 5cm;
  height: 5cm;
  float: left;
  padding: .5cm;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.bookmark-card h1 {
  font-size: .5cm;
}
.bookmark-card h2 {
  font-size: .4cm;
}
