#app-navigation h3 {
	padding-top: .7cm;
	padding-left: 0.1cm;
	border-top: 1px solid #ededed;
}


.add-bookmark {
  padding: .1cm;
  border-bottom: 1px solid #ebebeb;
}
.add-bookmark input {
  width: 93%;
  width: calc(100% - 40px);
}
.add-bookmark button {
	width: 13px;
	height: 13px;
	padding: 7px;
	box-sizing: content-box;
	vertical-align: sub;
}

.bulk-actions {
  position: fixed;
  top: .5cm;
  right: 1cm;
}

.bookmarks-empty {
  width: 5cm;
  margin: 20% auto;
}

.bookmarks {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.bookmark-card {
  position: relative;
  box-sizing: border-box; /*necessary for hover effect goodness to work*/
  flex-grow: 1;
  width: 6cm;
  height: 6cm;
  padding: .5cm;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  overflow: hidden;
  transition: transform .5s;
  background: white;
}
.bookmark-card,
.bookmark-card * {
  cursor: pointer;
}
.bookmark-card.active {
  box-shadow: inset 0 0 10px #0082c9;
}
.bookmark-card:hover {
  transform: scale(1.03);
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  z-index: 1;
}
.bookmark-card input[type="checkbox"] {
  display: none;
  position: absolute;
  left: .1cm;
  top: 0;
  opacity: .7;
}
.bookmark-card:hover input[type="checkbox"],
.bookmark-card.active input[type="checkbox"] {
  display: inline-block;
}
.bookmark-card h1 {
  font-size: .5cm;
}
.bookmark-card h2 {
  font-size: .4cm;
}
.bookmark-card h2 :link:hover {
  text-decoration: underline;
}

.bookmark-detail {
	position: absolute;
	top: 0;
  z-index: 2;
	width: 100%;
	height: 100%;
  box-sizing: border-box;
  padding: 1cm;
	background: white; 
}
.bookmark-detail h1 {
  font-size: .8cm;
}
.bookmark-detail h2 :link:hover {
  text-decoration: underline;
}
.bookmark-detail .close {
  position: absolute;
  top: .1cm;
  right: .1cm;
  width: 1cm;
  height: 1cm;
  cursor: pointer;
}
.bookmark-detail .actions {
  float: right;
}
.bulk-actions button,
.bookmark-detail .actions button {
  height: 1cm;
  width: 1cm;
}
