#content > div {
  height: 100%;
}
#app-navigation {
  height: 100%;
  position: relative;
}
#app-navigation > ul {
  height: auto;
}
#app-navigation h3 {
	padding-top: .7cm;
	padding-left: 0.1cm;
	border-top: 1px solid #ededed;
}

#app-content {
  transition: transform .5s ease;
  transform: none;
}
.mobile-nav {
  padding: .3cm;
  display: none;
}
.mobile-nav .toggle-menu {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .mobile-nav-open #app-content {
    transform: translate(250px, 0);
  }
  .mobile-nav {
    display: block;
  }
}

.add-bookmark {
  padding: .1cm;
  border-bottom: 1px solid #ebebeb;
}
.add-bookmark input {
  width: 93%;
  width: calc(100% - 40px);
}
.add-bookmark button {
	width: 13px;
	height: 13px;
	padding: 7px;
	box-sizing: content-box;
	vertical-align: sub;
}

.bulk-actions {
  display: none;
  position: relative;
  border-bottom: 1px solid #ebebeb;
  padding: 5px .5cm;
  background: #e9f7ff;
}
.bulk-actions .close {
  position: absolute;
  right: .5cm;
  top: .5cm;
  cursor: pointer;
}

.bookmarks-empty {
  width: 5cm;
  margin: 20% auto;
}

.bookmarks {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.bookmark-card {
  position: relative;
  box-sizing: border-box; /*necessary for hover effect goodness to work*/
  flex-grow: 1;
  width: 6cm;
  height: 6cm;
  padding: .5cm;
  border: 1px solid #ebebeb;
  overflow: hidden;
  background: white;
}
.bookmark-card,
.bookmark-card * {
  cursor: pointer;
}
.bookmark-card:hover {
  background: #fcfcfc;
}
.bookmark-card.active,
.bookmark-card.active:hover {
  transform: none;
  border: 1px solid #0082c9;
  box-shadow: inset 0 0 10px #0082c9;
}
.bookmark-card input[type="checkbox"] {
  display: none;
  position: absolute;
  left: .1cm;
  top: .3cm;
  opacity: .7;
  width: .4cm;
}
.bookmark-card:hover input[type="checkbox"],
.bookmark-card.active input[type="checkbox"] {
  display: inline-block;
}
.bookmark-card h1 {
  font-size: .5cm;
}
.bookmark-card h2 {
  margin-top: .1cm;
  font-size: .4cm;
  opacity: .4;
}
.bookmark-card h2 :link:hover {
  text-decoration: underline;
}
.bookmark-card .tags {
  max-height: 2.5cm;
  overflow: hidden;
  position: absolute;
  bottom: .5cm;
}
.bookmark-card .tag-nav-item {
  border-radius: .2cm;
  background: #ebebeb;
  display: inline-block;
  padding: 0 .2cm;
  margin: .1cm;
}
.bookmark-card .tag-nav-item:hover {
  background: #e0e0e0;
}

.bookmark-detail {
	position: absolute;
	top: 0;
  z-index: 2;
	width: 100%;
	height: 100%;
  box-sizing: border-box;
  padding: 1cm;
	background: white; 
}
.bookmark-detail h1 {
  font-size: .8cm;
}
.bookmark-detail h2 {
  margin-top: .3cm;
  opacity: .4;
}
.bookmark-detail h2 :link:hover {
  text-decoration: underline;
}
.bookmark-detail .close {
  position: absolute;
  top: .1cm;
  right: .1cm;
  width: 1cm;
  height: 1cm;
  cursor: pointer;
}
.bookmark-detail .actions {
  float: right;
}
.bulk-actions button,
.bookmark-detail .actions button {
  height: 1cm;
  width: 1cm;
}

.settings {
  width: 98%;
  position: absolute;
  bottom: 0;
  padding: .1cm;
}
.settings .open {
  width: 98%;
  height: 1cm;
}
.settings .icon-settings {
  display: inline-block;
  vertical-align: text-bottom;
}
.settings .settings-content {
  display: none;
}
.settings .import-form {
  display: inline-block;
}
.settings .import {
  display: none;
}
.settings .upload {
  display: none;
}
