<div class="close icon-close" title="<%- t('bookmarks', 'Close') %>"></div>
<div class="status">
	<span class="message message-saving"><span class="icon-loading"></span></span>
	<span class="message message-saved"
		><span class="icon-checkmark"></span> <%- t('bookmarks', 'Saved') %></span
	>
</div>
<div class="preview"></div>
<h1
	data-attribute="title"
	class="<%- !title.trim()? 'empty' : '' %>"
	title="<%- t('bookmarks', 'Click to edit title') %>"
	style="background-image: url('bookmark/<%- id %>/favicon');"
>
	<%- title.trim()? title : t('bookmarks', 'Add a title...') %>
</h1>
<h3><%- t('bookmarks', 'Date added') %></h3>
<span class="icon-calendar-dark" style="display: inline-block"></span> <%- new
Date(Number(added)*1000).toLocaleDateString() %>
<h3><%- t('bookmarks', 'Link') %></h3>
<h2 data-attribute="url">
	<a target="_blank" href="<%- url %>"
		><span class="icon-external"></span><%- url %></a
	>
	<a href="#" class="edit"><span class="icon-rename"></span></a>
</h2>
<h3><%- t('bookmarks', 'Tags') %></h3>
<div class="tags"></div>
<h3><%- t('bookmarks', 'Description') %></h3>
<div
	class="description <%- !description.trim()? 'empty' : '' %>"
	data-attribute="description"
	title="<%- t('bookmarks', 'Click to edit description') %>"
>
	<%- description.trim()? description : t('bookmarks', 'Add a description...')
	%>
</div>
