<button class="collapse"></button>
<a href="#" draggable="false" class="icon-folder" title="<%- title %>"><%- title %></a>
<div class="app-navigation-entry-edit">
	<div>
		<input type="text" value="<%- title %>" class="title" placeholder="<%- t('bookmarks', 'Title') %>">
		<input type="submit" value="" class="icon-close action cancel">
		<input type="submit" value="" class="icon-checkmark action submit">
	</div>
</div>
<div class="app-navigation-entry-utils">
  <ul>
    <li class="app-navigation-entry-utils-menu-button">
      <button></button>
    </li>
  </ul>
</div>
<div class="app-navigation-entry-menu">
	<ul>
		<li>
			<button class="menu-edit">
				<span class="icon-rename"></span>
				<span><%- t('bookmarks', 'Rename') %></span>
			</button>
		</li>
		<li>
			<button class="menu-addsub">
				<span class="icon-add"></span>
				<span><%- t('bookmarks', 'Add subfolder') %></span>
			</button>
		</li>
		<li>
			<button class="menu-delete">
				<span class="icon-delete"></span>
				<span><%- t('bookmarks', 'Delete') %></span>
			</button>
		</li>
	</ul>
</div>
<ul class="children"></ul>
