<li data-id="all" class="all">
	<a href="#" class="icon-home"><%- t('bookmarks', 'All bookmarks') %></a>
</li>
<li data-id="untagged" class="untagged">
	<a href="#" class="icon-category-disabled"><%- t('bookmarks', 'Untagged') %></a>
</li>
<!--
<li data-id="favorites" class="favorites">
	<a href="#"><span class="icon-favorite"></span><%- t('bookmarks', 'Favorites') %></a>
</li>
<li data-id="shared" class="shared">
	<a href="#"><span class="icon-share"></span><%- t('bookmarks', 'Shared') %></a>
</li>
-->
