<div id="app-settings-header">
	<button class="settings-button"><%- t('bookmarks', 'Settings') %></button>
</div>
<div id="app-settings-content">
	<form class="import-form" action="bookmark/import" method="post" target="upload_iframe" enctype="multipart/form-data" encoding="multipart/form-data">
		<input type="file" class="import" name="bm_import" size="5" />
		<input type="hidden" name="requesttoken" value="<%- oc_requesttoken %>" />
		<button class="import-facade"><span class="icon-upload"></span> <%- t('bookmarks', 'Import') %></button>
	</form>
	<iframe class="upload" name="upload_iframe" id="upload_iframe"></iframe>
	<button class="export"><span class="icon-download"></span> <%- t('bookmarks', 'Import') %></button>
	<div class="import-status"></div>
</div>
