<a href="#" class="icon-tag" title="<%- name %>"><%- name %></a>
<div class="app-navigation-entry-utils">
  <ul>
    <li class="app-navigation-entry-utils-counter"><%- count > 999 ? "999+" :count  %></li>
    <li class="app-navigation-entry-utils-menu-button">
      <button></button>
    </li>
  </ul>
</div>
<div class="app-navigation-entry-menu">
	<ul>
		<li>
			<button class="menu-item-checkbox menu-filter-add">
				<span><input type="checkbox" name="select" class="checkbox" /><label for="select"></label></span>
				<span><%- t('bookmarks', 'Add to filter') %></span>
			</button>
		</li>
		<li>
			<button class="menu-item-checkbox menu-filter-remove">
				<span><input type="checkbox" name="select" checked class="checkbox" /><label for="select"></label></span>
				<span><%- t('bookmarks', 'Remove from filter') %></span>
			</button>
		</li>
		<li>
			<button class="menu-edit">
				<span class="icon-rename"></span>
				<span><%- t('bookmarks', 'Rename') %></span>
			</button>
		</li>
		<li>
			<button class="menu-delete">
				<span class="icon-delete"></span>
				<span><%- t('bookmarks', 'Delete') %></span>
			</button>
		</li>
	</ul>
</div>
