name: Dependabot auto approve
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/auto-approve-action@v2
        if: github.actor == 'dependabot[bot]' || github.actor == 'dependabot-preview[bot]' || github.actor == 'dependabot'
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
